[Desktop Entry]
Version=1.0
Type=Application
Exec=gnome-software %U
Icon=org.gnome.Software
StartupNotify=false
Terminal=false
Categories=Utility;X-XFCE;X-Xfce-Toplevel;
OnlyShowIn=XFCE;
Name=App Store...
Comment=Add, remove or update software on this computer